/* container */
$widthContainer: 1640px;
$paddingContainer: 20px;

/* base typography */
$baseFont: "Poppins", sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #231f20; /* base color for <a> */